*.class

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#Eclipse
eclipse
.settings
bin
*.launch
.metadata
.classpath
.project

#IDEA
out
*.ipr
*.iws
*.iml
.idea

#Minecraft
run

#Gradle
.gradle
.gradletasknamecache
gradle-app.setting
*.properties
build
!gradle/wrapper/gradle-wrapper.jar